$font-path: '../fonts/font-main/' !default;

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-BoldObl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-Blk.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-BlkCond.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-BlkCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-LightCond.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-LightCond.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-Obl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-UltraComp.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-UltraComp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-LightObl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-LightObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-CondObl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-CondObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-BoldCondObl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-BoldCondObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-LightCondObl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-LightCondObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-Cond.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-Cond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-BlkObl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-BlkObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-Light.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-Roman.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-Comp.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-Comp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-BlkCondObl.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-BlkCondObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-Bold.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('#{$font-path}HelveticaLTStd-BoldCond.woff2') format('woff2'),
        url('#{$font-path}HelveticaLTStd-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
