[class*="bg-"] {
    background-repeat: no-repeat;
}
.bg {
    background-repeat: repeat;
}
.bg-parallax {
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
.bg-noise {
    position: relative;
    background: #eee url(../elements/bg-texture-noise.png) repeat;
    .page-home & {
        background: none;
    }
    &.mountain {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 497px;
            z-index: 0;
            background-image: url(../elements/bg-mountain.png);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 100%;
            @media(min-width: 1140px){
                height: 100%;
            }
        }
    }
}
.bg-texture {
    background: url(../elements/bg-texture.png) repeat;
    position: relative;
    &.mountain {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 497px;
            z-index: 0;
            background-image: url(../elements/bg-mountain.png);
            background-position: center top;
            background-repeat: no-repeat;
            background-size: 100%;
            @media(min-width: 1140px){
                height: 100%;
            }
            .page-location & {
                background-image: url(../elements/bg-forrest.png);
                height: 775px;
                @media(min-width: 1140px){
                    height: 100%;
                }
            }
        }
    }
    .page-home & {
        background: none;
    }
    &.inset-shadow {
        box-shadow: inset 0 0 15px #cecccc;
    }
}
.palm-leaf-right {
    @media(min-width: 768px){
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            width: 221px;
            height: 280px;
            background-image: url(../elements/palm-leaf.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 221px 280px;
        }
        &-top {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                width: 221px;
                height: 280px;
                background-image: url(../elements/palm-leaf.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 221px 280px;
            }
        }
    }
}
.palm-leaf-left {
    @media(min-width: 768px){
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 221px;
            height: 280px;
            background-image: url(../elements/palm-leaf.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 221px 280px;
            transform: scaleX(-1);
        }
        &-bottom {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 221px;
                height: 280px;
                background-image: url(../elements/palm-leaf.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 221px 280px;
                transform: scaleX(-1);
            }
        }
    }
}
.bg-lightgray {
    background-color: #fefefe;
    &.inset-shadow {
        box-shadow: inset 0 0 100px #cecccc;
    }
}
.bg-white {
    background-color: #fff;
    &-texture {
        background-color: rgba(#fff, .5);
    }
}
.bg-gray {
    background-color: #f2f2f2;
    &-texture {
        background-color: rbga(#f2f2f2, .5);
    }
}
.bg-decor {
    position: relative;
    z-index: 3;
}