#booking_panel_toggle {
    background-color: rgba(#000, .5);
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.825rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .35s;
    
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1;
    > span {
        position: absolute;
        top: 22px;
        left: 50%;
        z-index: 2;
        font-family: 'Playfair Display', serif;
        font-size: 0.75rem;
        font-style: italic;
        text-transform: lowercase;
        text-shadow: 0 0 5px #000;
        transform: translate(-50%, 0);
    }
    @media(min-width: 576px){
        padding: 10px 40px;
    }
    @media(min-width: 768px){
        top: 3rem;
        right: 1rem;
    }
    &:hover, &:active {
        background-color: $main_color;
        color: #fff;
        transition: 350ms;
    }
}

.booking-panel {
    position: fixed;
    top: 0;
    left: 100%;
    width: 360px;
    max-width: 100%;
    height: 100vh;
    z-index: 8999;
    background-color: #fff;
    box-shadow: -.5rem 0 1rem transparent;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
    will-change: box-shadow, transform;

    &-wrapper {
        padding: 2rem 35px 5rem 35px;
    }

    &-close {
        background-color: $main_color;
        color: #fff;
        position: absolute;
        top: 1.125rem;
        right: 20px;
        appearance: none;
        padding: 0;
        border: 0;
        outline: 0;
        width: 1.75rem;
        height: 1.75rem;
        cursor: pointer;
        line-height: 1;
        &:hover,
        &:active {
            background-color: darken($main_color, 10);
        }
    }
}

.site-reservation {
    position: relative;
    h3 {
        font-weight: bold;
        font-size: 2rem;
    }
    .btn-checkavailability {
        color: #fff;
        background-color: $main_color;
        border-color: $main_color_dark;
        &:focus {
            box-shadow: 0 0 0 0.2rem transparentize($main_color, .5);
        }
        &:hover, &:active {
            background-color: $main_color_dark;
            transition: 350ms;
        }
    }
    label {
        display: block;
        margin-bottom: .5rem;
        text-align: center;
        font-size: 1rem;
        font-weight: normal;
        height: 19px;
    }
    .form-control {
        transition: background-color 350ms;
        border-radius: 0;
        background-clip: unset;
        background-color: rgba(220, 220, 220, 0.4);
        line-height: 1.35;
        border: transparent;
        height: 42.5px !important;
        &.custom-select {
            border: transparent;
            cursor: pointer;
        }
        &::placeholder {
            font-size: 0.875rem;
        }
        option {
            font-size: 0.75rem;
            background-color: rgba(220, 220, 220, 0.4);
        }
    }
    .block {
        position: relative;
        .control {
            background-color: rgba(220, 220, 220, 0.4);
            text-align: center;
            position: relative;
            margin-top: 10px;
            padding: 20px 8px;
            user-select: none;
            transition: background-color 350ms;
            &:hover,
            &:focus,
            &.show-datepicker {
                background-color: rgba(220, 220, 220, 0.4);
                outline-color: transparent;
            }
            .top, .bottom, .val {
                display: block;
                line-height: 1;
                white-space: nowrap;
            }
            .top, .bottom {
                position: absolute;
                width: 100%;
                height: 20px;
                line-height: 20px;
                left: 0;
                &:hover, &:active {
                    color: $main_color;
                }
            }
            .top {
                top: 0;
            }
            .bottom {
                bottom: 0;
            }
            .val {
                font-size: 4rem;
                border-width: 1px 0;
                border-style: solid;
                border-color: #868e96 transparent;
                padding: 6px 0;
            }
            .month {
                font-size: 0.625rem;
                padding-top: 2px;
                &:hover, &:active {
                    color: currentColor;
                }
            }
        }
        .control-datepicker,
        .control-room .value-up,
        .control-room .value-down {
            cursor: pointer;
            &:focus {
                outline-color: transparent;
            }
            &.disabled {
                cursor: not-allowed;
                opacity: 0.3;
            }
        }
        .help-block {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: small;
        }
        .note {
            display: block;
            text-align: center;
            font-size: small;
        }
    }
    .btn-booking {
        width: 100%;
        height: 54px;
        margin: auto;
        border: 0;
        cursor: pointer;
        transition: filter 350ms;
        font-size: 2.25rem;
        background-color: unset;
        color: #fff;
        margin-bottom: 10px;
        letter-spacing: 0px;
        font-weight: bold;
        &:hover,
        &:focus,
        &:active {
            color: #b58a52;
            outline: none;
            box-shadow: none;
        }
        .icon {
            display: inline-block;
            text-align: center;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            line-height: 3.5rem;
            font-size: 1.45rem;
            color: #fff;
            vertical-align: 5px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.2);
            background : linear-gradient(135deg,#b58b52 30%,#c9a574 100%);
            &:hover {
                background : linear-gradient(135deg,#b58b52 30%,#c9a574 100%);
            }
        }
    }
    .btn-availability {
        width: 100%;
        font-size: 1.375rem;
        padding: 10px 35px;
        color: $main_color;
        background-color: transparent;
        border: 1px solid $main_color;
        border-radius: .25rem;

        display: inline-block;
        position: relative;
        transition: all .7s ease;
        overflow: hidden;
        cursor: pointer;
        &:hover, &:active {
            color: #000;
            background-color: $main_color;
            box-shadow: 0 0 10px $main_color;
            &:before {
                transform: scaleX(300);
                opacity: 1;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 1px;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: rgba(0, 0, 0, .2);
            transition: transform .7s ease;
            z-index: 0;
            opacity: 0;
        }
        &:focus {
            outline-color: transparent;
        }
    }
    .custom-datepicker {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        min-width: 240px;
        margin-top: 7px;
        filter: drop-shadow(0 1px 6px rgba(0,0,0,.1));
        transform: translate(-50%, 10px);
        transform: translate3d(-50%, 10px, 0);
        opacity: 0;
        visibility: hidden;
        transition: 350ms;
        &::before {
            content: '';
            background-color: #fff;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 50%;
            top: -5px;
            margin-left: -5px;
            transform: rotate(45deg);
            z-index: 1;
            border-top: 1px solid #dedede;
            border-left: 1px solid #dedede;
        }
        .ui-datepicker {
            width: 100%;
            filter: none;
        }
    }
    .control.show-datepicker + .custom-datepicker {
        opacity: 1;
        visibility: visible;
    }
}

body.booking-panel-show {
    .booking-panel {
        box-shadow: -.5rem 0 1rem rgba(0,0,0,.125);
        transform: translate(-100%, 0);
        transform: translate3d(-100%, 0, 0);
        &-bg {
            background-color: rgba(#000, .7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 7777;
            transition: 350ms;
        }
    }
}

body.admin-bar {
    .booking-panel {
        @media (min-width: 783px) {
            top: 32px;
        }
    }
}

//t-datepicker
#form_booking {
    .t-datepicker {
        display: flex;
        font-size: 1rem;
        line-height: 1;
        .bottom {
            background-color: rgba(220, 220, 220, 0.4);
            text-align: center;
        }
        .control {
            padding: 20px 8px;
            padding-bottom: 0;
            &::after {
                top: -19%;
            }
        }
        label {
            color: $gray;
            height: 19px;
            line-height: 22px;
        }
        &-day {
            top: calc(100% + 30px);
        }
    }
    .t-hover-day-content {
        top: -25px;
    }
    .t-date-info-title {
        display: none;
    }
    .t-check-in, .t-check-out {
        border: none;
        border-radius: 0;
        width: 100%;
        display: block;
        .t-dates i, [class*=t-year-] {
            display: none;
        }
    }
    .t-check-in {
        .t-datepicker-day {
            overflow: visible;
            &::before {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 38px;
                width: 7px;
                height: 7px;
                margin-top: -4px;
                border-top: 1px solid $main_color;
                border-left: 1px solid $main_color;
                background: #eee;
                transform: rotate(45deg);
                transition: all .35s ease-in-out;
            }
        }
    }
    .t-check-out {
        .t-datepicker-day {
            overflow: visible;
            &::before {
                position: absolute;
                display: block;
                content: '';
                top: 0;
                left: 148px;
                width: 7px;
                height: 7px;
                margin-top: -4px;
                border-top: 1px solid $main_color;
                border-left: 1px solid $main_color;
                background: #eee;
                transform: rotate(45deg);
                transition: all .35s ease-in-out;
            }
        }
    }
    [class*=t-month-], .t-datepicker .bottom, [class*=t-day-] {
        display: block;
        line-height: 1;
        white-space: nowrap;
        color: $gray;
    }
    [class*=t-month-], .t-datepicker .bottom {
        position: absolute;
        width: 100%;
        height: 20px;
        line-height: 20px;
        left: 0;
    }
    [class*=t-month-] {
        font-size: 0.715rem;
        padding-top: 2px;
        top: 0;
    }
    [class*=t-day-] {
        font-size: 4rem;
        border-width: 1px 0;
        border-style: solid;
        border-color: #868e96 transparent;
        padding: 6px 0;
        color: $gray;
    }
}