[class*=box-ratio-] {
    position: relative;
    width: 100%;
    height: 0
}

[class*=box-ratio-] .box-ratio-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.box-ratio-panorama {
    padding-top: 48%
}

.box-ratio-widescreen {
    padding-top: 56.25%
}

.box-ratio-photo {
    padding-top: 75%
}

.box-ratio-square {
    padding-top: 100%
}

.box-ratio-portrait {
    padding-top: 150%
}