html {
    font-size: 14px;
}

body {
    font-size: 1rem;
    font-family: 'Helvetica LT Std', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $gray;
}

b, strong {
    font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
    &:hover, &:active {
        color: $main_color;
        text-decoration: none;
    }
}

ol, ul {
    padding-left: 20px;
}

img {
    max-width: 100%;
    height: auto;
    backface-visibility: hidden;
    &.img-fluid {
        width: 100%;
    }
    &.img-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }
}

.img-vh {
    @media(min-width: 1140px){
        height: 100vh;
    }
}

.video-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

a {
    img {
        transition: opacity 350ms;
    }
    &:hover,
    &:active {
        img {
            opacity: 0.85;
        }
    }
}

.black-color {
    color: #000000 !important;
}

.white-color {
    color: #ffffff !important;
}

// Button
.clickable {
    cursor: pointer;
}

// UI Color
.main-color {
    color: $main_color;
}
.second-color {
    color: $second_color;
}
.rose-color {
    color: #ef7381;
}

.font-yellowtail {
    font-family: 'Yellowtail', cursive;
    font-weight: 400;
}

.font-bebas {
    font-family: 'Bebas Neue';
}

// Structure
.container {
    position: relative;
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

.mobile {
    display: block !important;
    @media(min-width: 768px){
        display: none !important;
    }
    &-lg {
        display: block !important;
        @media(min-width: 992px){
            display: none !important;
        }
    }
    &-xl {
        display: block !important;
        @media(min-width: 1200px){
            display: none !important;
        }
    }
}

.desktop {
    display: none !important;
    @media(min-width: 768px){
        display: block !important;
    }
    &-lg {
        display: none !important;
        @media(min-width: 992px){
            display: block !important;
        }
    }
    &-xl {
        display: none !important;
        @media(min-width: 1200px){
            display: block !important;
        }
    }
}

.font-playfair {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    &-bold {font-weight: 700;}
    &-black {font-weight: 900;}
}

.loading-indicator {
    display: none;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: 6px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: transparent #fff #fff;
    animation: spin 1s infinite linear;
    &.show {
        display: block;
        position: absolute;
        top: 50px;
        left: 50%;
        border-color: transparent #000 #000;
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.form-sending [type="submit"] {
    pointer-events: none;
}
.form-sending .loading-indicator {
    display: inline-block;
}
.form-result {
    display: none;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

#page {
    position: relative;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    height: 4.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.125);
    transition-property: box-shadow, margin-left, width;
    transition-duration: 350ms;
    will-change: box-shadow, margin-left, width;

    &.lite {
        margin-left: -4.5rem;
        width: calc(100% + 4.5rem);
    }

    @media (min-width: 1200px) {
        background-color: transparent;
        box-shadow: 0 .5rem 1rem transparent;
    }
}

body.desktop-menu-show {
    &--shown {
        .main-header {
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.125);
        }
    }
}

body.admin-bar {
    .main-header {
        position: absolute;
        top: 46px;

        &.fixed {
            position: fixed;
            top: 0;
        }

        @media (min-width: 783px) {
            position: fixed;
            top: 32px;
            
            &.fixed {
                top: 32px;
            }
        }
    }
}

.site-logo {
    background-color: #fff;
    position: absolute;
    z-index: 1;
    left: 4.5rem;

    .link {
        display: block;
        padding: 0.5rem 1rem;
    }

    .logo {
        width: auto;
        height: 3.5rem;
    }
}

.site-menu {
    display: none;
    overflow: hidden;
    background-color: #fff;
    width: 0;
    transition: 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    padding-left: 0;
    padding-right: 0;
    font-size: 1.0625rem;

    @media (min-width: 1200px) {
        display: block;
    }

    @media (min-width: 1400px) {
        font-size: 1.125rem;
    }
}

body.desktop-menu-show {
    .site-menu {
        width: 100%;
        overflow: visible;
        border-radius: 0;
        padding-left: 155px;
        padding-right: 210px;

        html[lang='zh'] & {
            padding-right: 232px;
        }

        .site-navigation {
            opacity: 1;
            transform: translate(0, 0);
            transform: translate(0, 0, 0);
            transition: opacity 150ms 600ms,
                        transform 350ms 600ms;
        }
    }

    #desktop_menu_toggle {
        .hamburgur .bar:nth-of-type(2) {
            width: 100%;
        }
    }
}

.site-navigation {
    opacity: 0.2;
    transform: translate(0, -5px);
    transform: translate3d(0, -5px, 0);
    transition: opacity 150ms 0ms,
                transform 350ms 350ms;

    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
    }

    a {
        display: block;
        color: $gray;
        font-weight: normal;
    }

    &-list {
        display: flex;
        justify-content: space-around;

        > li {
            > a {
                height: 4.5rem;
                padding: 0 1rem;
                line-height: 4.5rem;
                white-space: nowrap;
                &.current {
                    color: $main_color;
                }
            }

            &:hover,
            &:active {
                > a {
                    background-color: $gray-100;
                }
            }

            &.current-menu-item,
            &.current-menu-ancestor {
                > a {
                    font-weight: 700;
                }
            }
        }
    }

    .menu-item-has-children {
        position: relative;

        > a {
            &::after {
                content: '\f107';
                font-family: 'Font Awesome 5 Pro';
                font-weight: 300;
                margin-left: 0.25rem;
            }
            &.ancestor {
                color: $main_color;
            }
        }

        &:hover,
        &:active {
            .sub-menu {
                visibility: visible;
                opacity: 1;
                transition-delay: 200ms;
                transform: translate(0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 350ms 0ms;
        background-color: $gray-200;
        width: 200px;
        max-width: 100vw;
        transform: translate(0, 10px);
        transform: translate3d(0, 10px, 0);
        box-shadow: 0 0 1rem rgba(0,0,0,.125);
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;

        a {
            padding: .5rem 1rem;
            line-height: 1.25;

            &:hover,
            &:active {
                background-color: $gray-100;
            }
        }

        .current-menu-item {
            > a {
                background-color: theme-color('primary');
                color: #fff;
            }
        }
    }

    > li:last-child {
        > .sub-menu {
            left: auto;
            right: 0;
        }
    }
}

.site-lang {
    $self: &;

    display: block;
    position: absolute;
    top: 50%;
    right: 137px;
    white-space: nowrap;
    padding: .5rem 1rem;
    margin-top: -1.25rem;
    border-left: 1px solid $main_color;
    transition: 350ms;
    cursor: pointer;
    html[lang='zh'] & {
        right: 165px;
    }

    &-active {
        color: $main_color;
        transition: color 350ms;
        text-transform: uppercase;
    }

    &-list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: $gray-100;
        list-style: none;
        margin: 0;
        padding: 0;
        // padding: .25rem 0;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.125);
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 10px);
        transform: translate3d(0, 10px, 0);
        transition: 350ms;
        text-transform: uppercase;
        z-index: 10;

        a {
            display: block;
            padding: .25rem 1rem;
            color: $gray-600;

            &:hover,
            &:active {
                background-color: $gray-200;
            }
        }

        .active {
            > a {
                background-color: $main_color;
                color: #fff;
            }
        }
    }

    &:hover,
    &:active,
    &.active {
        #{$self}-list {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @media (min-width: 1200px) {
        border-left-color: #fff;

        &-active {
            color: #fff;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}

body.no-block-hero {
    .site-lang {
        border-left-color: $main_color;
        &-active {
            color: $main_color;
        }
    }
}

body.desktop-menu-show {
    &--shown {
        .site-lang {
            border-left-color: $main_color;
            &-active {
                color: $main_color;
            }
        }
    }
}

#desktop_menu_toggle {
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }
}

#mobile_menu_toggle {
    @media (min-width: 1200px) {
        display: none;
    }
}

.menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.5rem;
    height: 4.5rem;
    background-position: center top;
    background-size: 100%;
    background-image: url(../elements/bg-hamburger-menu.png);
    // background-color: $main_color;
    // background-image: linear-gradient(to top, $main_color, lighten($main_color, 5));
    color: #fff;
    border: 0;
    padding: 0;
    appearance: none;
    cursor: pointer;

    .page-home & {
        background-image: none;
    }

    &:hover,
    &:active {
        background-color: darken( $main_color, 15 );
    }
}

.hamburgur {
    position: absolute;
    width: 1.75rem;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -0.875rem;
    .bar {
        display: block;
        background-color: #fff;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        transition: 350ms;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: .5rem;
            width: 75%;
        }

        &:nth-of-type(3) {
            top: 1rem;
        }
    }
}

$mobileSiteMenuTransitionSpeed: 500ms cubic-bezier(0.19, 1, 0.22, 1);

.m-site-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    transform: translateX(-100%);
    transform: translate3d(-100%, 0, 0);
    transition: $mobileSiteMenuTransitionSpeed;

    width: 320px;
    max-width: 80%;
    height: 100vh;
    background-color: #fff;
    font-size: 1rem;
    box-shadow: 0 .5rem 1rem transparent;
    will-change: transform, box-shadow;

    .simplebar-scrollbar {
        width: 4px;
    }

    &-wrapper {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }

    .menu-primary {
        
        ul {
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;
        }

        a {
            display: block;
            padding: .5rem 20px;
            transition: 350ms;
            &:hover,
            &:active {
                background-color: $gray-200;
                transition: 0ms;
            }
            &.current {
                background-color: $gray-200;
                color: $main_color;
            }
        }
        
        .sub-menu {
            padding-bottom: 15px;
            font-size: .875rem;
            a {
                padding: .25rem 30px;
            }
        }

        .current-menu-item {
            > a {
                background-color: theme-color('primary');
                color: #fff;
            }
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: $gray-200;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .block-html {
        padding: .5rem 20px;

        .heading {
            font-size: .75rem;
        }
    }

    &-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 9999;
        background-color: #000;
        opacity: 0;
        visibility: hidden;
        transition: $mobileSiteMenuTransitionSpeed;
        will-change: opacity, visibility;
        cursor: pointer;
    }

    &-logo {
        display: block;
        padding-bottom: 1.5rem;
        // padding: 1.5rem 0;
        text-align: center;
    }
}

body.mobile-menu-show {
    overflow: hidden;

    .m-site-menu {
        transform: translateX(0);
        transform: translate3d(0, 0, 0);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.125);

        &-bg {
            opacity: .65;
            visibility: visible;
        }
    }

    @media (min-width: 1200px) {
        overflow: inherit;
        .m-site-menu,
        .m-site-menu-bg {
            display: none;
        }
    }
}

.site-main {
    padding-top: 4.5rem;

    @media (min-width: 1200px) {
        padding-top: 0;
    }
}

#booking_panel_toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    appearance: none;
    border: 0;
    padding: .5rem 2.5rem;
    height: 4.5rem;
    // background-color: $main_color;
    background-image: linear-gradient(to top, $main_color, lighten($main_color, 15));
    color: #fff;
    cursor: pointer;
    font-size: 1.75rem;
    
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -.63em;
        transform: translateX(-50%);
        font-family: 'serif';
        font-style: italic;
        font-size: .5em;
        line-height: 1;
        text-shadow: 0 -2px 0 $main_color,
                     0 2px 0 $main_color,
                     -2px 0 0 $main_color,
                     2px 0 0 $main_color;
    }

    &:hover,
    &:active {
        background-color: darken( $main_color, 5 );
    }
}

.intro {
    position: relative;
    &-title {
        font-size: 2rem;
        padding-bottom: 15px;
        color: $gray;
        letter-spacing: 2px;
        text-transform: uppercase;
        @media(min-width: 768px){
            font-size: 2.25rem;
            padding: 45px 0;
        }
    }
    &-desc {
        font-size: 1.125rem;
        @media(min-width: 768px){
            .page-home & {
                width: 100%;
                height: auto;
                max-width: 992px;
                margin: auto;
            }
        }
    }
    .header {
        font-size: 1.5rem;
        font-weight: 300;
        @media(min-width: 768px){
            font-size: 2.25rem;
        }
    }
    .p-desc {
        font-size: 1rem;
        position: relative;
        padding-top: 1.5rem;
        margin-top: .5rem;
        text-align: justify;
        @media(min-width: 768px){
            text-align: left;
            padding-right: 5rem;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 2;
            width: 80%;
            height: 1px;
            background-color: #fff;
        }
    }
    .subject {
        font-weight: 400;
        font-size: 1.125rem;
    }
}

.list-awards {
    padding-left: 0;
    list-style: none;
    columns: 4 128px;
    column-gap: 10px;
    @media(min-width: 1200px){
        display: flex;
        justify-content: center;
        align-items:center;
    }
    > li {
        text-align: center;
        padding: 0 1rem;
    }
}

.swiper-instagram {
    position: relative;
    .swiper-button {
        &-prev, &-next {
            background-image: none;
            display: none;
            @media(min-width: 768px){
                display: block;
            }
            .icon-tab {
                background-color: #323131;
                padding: 10px 15px;
                color: #fff;
                font-size: 25px;
                transition: 350ms;
                &:hover, &:active {
                    transition: 350ms;
                    color: #fff;
                    background-color: #5a5a5a;
                }
            }
        }
        &-prev {
            left: 0;
            transition: 350ms;
            .icon-tab {
                border-radius: 0 2rem 2rem 0;
            }
        }
        &-next {
            right: 16px;
            transition: 350ms;
            .icon-tab {
                border-radius: 2rem 0 0 2rem;
            }
        }
        &-disabled {
            transition: 350ms;
            &.swiper-button-prev {
                left: -100%;
                transition: 350ms;
            }
            &.swiper-button-next {
                right: -100%;
                transition: 350ms;
            }
        }
    }
    .ig-post {
        display: block;
        position: relative;
        overflow: hidden;
        transition: all .35s;
        &::after {
            content: '';
            width: 100%;
            padding-top: 100%;
            display: block;
        }
        img {
            transform: scale(1);
            transition: all .35s;
        }
        &-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0;
                visibility: hidden;
                transition: all .35s;
                z-index: 5;
            }
        }
        &-item {
            position: absolute;
            top: 60%;
            left: 50%;
            width: 100%;
            height: 90px;
            z-index: 5;
            min-width: 170px;
            margin: 0 auto;
            text-align: center;
            text-shadow: 0 0 5px #777777;
            transform: translate(-50%, -50%);
            opacity: 0;
            visibility: hidden;
            transition: all .35s;
            overflow: hidden;
        }
        &-icons {
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            li {
                color: #fff;
                font-size: 1.125rem;
                padding: 0 .5rem;
                i {
                    margin-right: .25rem;
                }
            }
        }
        &-tagline {
            color: #fff;
            display: block;
            font-size: 1rem;
            line-height: 1.2;
        }
        &-img {
            width: 100%;
            height: 100%;
        }
        &:hover, &:active {
            transition: all .35s;
            img {
                transform: scale(1.1);
                transition: all .35s;
            }
            .ig-post-inner::before {
                opacity: .5;
                visibility: visible;
            }
            .ig-post-item {
                top: 50%;
                opacity: 1;
                visibility: visible;
                transition: all .35s;
            }
        }
    }
}

.gallery-slider {
    padding: 2rem 0;
    .swiper-pagination {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        &-bullet {
            width: 5px;
            height: 5px;
            margin: 0 .25rem;
            transition: 350ms;
            &-active {
                width: 8px;
                height: 8px;
                background-color: $gray;
                transition: 350ms;
            }
        }
    }
}

.box-information {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: .25rem;
    padding: 2rem;
    width: 100%;
    height: auto;
}

.box-hover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    a & {
        position: relative;
        color: #fff;
        display: block;
        img {
            transform: scale(1);
            transition: 350ms;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .45);
            opacity: 0;
            visibility: hidden;
            transition: 350ms;
        }
        &:hover, &:active {
            &::before {
                opacity: 1;
                visibility: visible;
                transition: 350ms;
            }
            img {
                opacity: 1;
                transform: scale(1.1);
                transition: 350ms;
            }
            .click-button {
                @media(min-width: 768px){
                    bottom: 0;
                    visibility: visible;
                    opacity: 1;
                    transition: 350ms;
                }
            }
            .content {
                @media(min-width: 768px){
                    top: 0;
                    transition: 350ms;
                }
            }
        }
    }
    .title {
        font-size: 1.875rem;
        font-weight: 300;
        text-shadow: 0 0 5px $gray;
    }
    .click-button {
        display: inline-block;
        background-color: rgba(#000, .65);
        border-radius: .25rem;
        border: 1px solid #eee;
        font-size: 0.75rem;
        padding: .5rem 1.5rem;
        position: relative;
        text-transform: uppercase;
        @media(min-width: 768px){
            bottom: -.5rem;
            visibility: hidden;
            opacity: 0;
            transition: 350ms;
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 350ms;
        @media(min-width: 768px){
            top: 1rem;
        }
        &-wrapper {
            text-align: center;
        }
    }
}

.box-accommodation {
    display: block;
    position: relative;
    &-image {
        position: relative;
    }
    &-name {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 16%;
        z-index: 1;
        font-size: 1.25rem;
        font-weight: normal;
        text-transform: uppercase;
    }
    &-content {
        display: flex;
        justify-content: center;
        padding-left: 0;
        margin: 1.125rem 0;
        .block {
            display: block;
            padding: .25rem 1rem;
            + .block {
                border-left: 1px solid #ddd;
            }
        }
        span.d-block {
            color: $gray;
            line-height: 1;
            &:first-of-type {
                font-size: .875rem;
                margin-bottom: .5rem;
            }
            &.unit {
                font-size: .625rem;
            }
            &.num {
                font-size: 1.25rem;
                font-weight: normal;
            }
            i {
                font-size: 1.25rem;
            }
        }
    }
}

.list-button {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 0;
    &::before {
        content: '';
        position: absolute;
        bottom: -32px;
        left: 0;
        right: 0;
        z-index: 1;
        background: url(../elements/line-shd.png) no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        width: 100%;
        height: 16px;
    }
}

.content-highlight {
    display: block;
    .title {
        font-weight: 400;
        font-size: 1.625rem;
    }
}

[class*=btn-radius-] {
    border-radius: 5rem;
    color: #fff;
    font-size: .875rem;
    padding: 5px 25px 5px 25px; 
    position: relative;
    text-transform: uppercase;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &::before {
        content: '\f054';
        font-family: Font Awesome\ 5 Pro;
        font-weight: 900;
        position: absolute;
        top: 5px;
        right: 25px;
        z-index: 2;
        color: #fff;
        opacity: 0;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:hover, &:active {
        padding: 5px 35px 5px 25px;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &::before {
            right: 22px;
            opacity: 1;
            transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}
.btn-radius-black-color {
    background-image: linear-gradient(to top, $gray 30%, $light_gray 100%);
    &:hover, &:active {
        color: #fff;
        background-image: linear-gradient(to top, $gray 30%, $light_gray 100%);
    }
}
.btn-radius-main-color {
    background-image: linear-gradient(to top, $main_color 30%, $main_color_light 100%);
    &:hover, &:active {
        color: #fff;
        background-image: linear-gradient(to top, $main_color 30%, $main_color_light 100%);
    }
}

.btn-default {
    background-color: $gray;
    border-radius: .25rem;
    color: #fff;
    display: inline-block;
    font-size: .875rem;
    padding: .5rem 1.25rem;
}

// Info collapse
.info-collapse {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    z-index: 10;
    transition: 350ms;
    display: none;
    &-panel {
        width: 260px;
        height: auto;
        padding: 8px 15px;
        background-color: #fff;
        border-radius: 0 0 3px 3px;
        position: relative;
    }
    @media(min-width: 992px){
        display: block;
    }
    @media(min-width: 1140px){
        transition: 350ms;
        bottom: 3.5rem;
    }
    &-btn {
        width: 260px;
        height: auto;
        color: #fff !important;
        background-color: $second_color;
        border-color: $second_color;
        border-radius: 3px 3px 0px 0px;
        border: none;
        padding: 5px 0px 5px 15px;
        font-size: 0.875rem;
        &.collapsed {
            border-radius: 3px;
            i {
                transform: rotate(0);
                transition: all .3s ease-in-out;
            }
        }
        &:hover, &:active {
            background-color: $main_color_dark;
        }
        i {
            color: #fff;
            margin-left: 5px;
            transform: rotate(45deg);
            transition: all .3s ease-in-out;
        }
    }
    .collapse {
        transition-delay: 500ms;
        &.show {
            transition-delay: 500ms;
        }
    }
    .benefit-list {
        padding-left: 0;
        margin-bottom: 0;
        li {
            padding-left: 20px;
            position: relative;
            font-size: .875rem;
            &::before {
                content: '\f058';
                position: absolute;
                top: 2px;
                left: 0;
                z-index: 2;
                font-family: 'Font Awesome 5 Pro';
                font-weight: 900;
                color: $main_color;
            }
        }
    }
}

.simplebar-scrollbar:before {
    background-color: $main_color_dark;
}

.taglines {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
    display: none;
    @media(min-width: 992px){
        display: block;
    }
    .caption {
        display: block;
        position: relative;
        padding: 15px 0;
        width: 720px;
        span.head {
            display: block;
            font-size: 2.285rem;
            font-weight: 900;
            color: #fff;
        }
        span {
            color: #fff;
            font-size: 1.75rem;
            font-weight: 300;
            display: block;
            line-height: 1.4;
            letter-spacing: 1px;
            text-shadow: 0 0 5px #222222;
        }
    }
    .line {
        content: '';
        position: absolute;
        bottom: 100px;
        left: -100px;
        width: 60%;
        height: 2px;
        background-color: #fff;
        box-shadow: 0 0 5px #222222;
    }
}

#scroll_down {
	position: absolute;
    bottom: 2.5rem;
    left: 50%;
	z-index: 55;
    text-align: center;
    color: #fff;
	text-decoration: none;
	user-select: none;
	filter: drop-shadow(0 0 .125rem rgba(#000, .5));
    transform: translate(-50%,0);
    display: none;
    @media(min-width: 768px){
        display: block;
    }

	.mouse {
		position: relative;
		display: block;
		border: .2125rem solid #fff;
		margin-left: auto;
		margin-right: auto;
		width: 2rem;
		height: 3rem;
		border-radius: 1rem;
		box-sizing: border-box;
		
		&::after {
			content: '';
			background-color: currentColor;
			width: .25rem;
			height: .5rem;
			border-radius: .125rem;
			position: absolute;
			top: .5rem;
			left: 50%;
			margin-left: -.125rem;
			animation: spinDown 1s infinite;
		}
	}
    
    .text {
        display: block;
        font-weight: 400;
		margin-bottom: .5rem;
    }

    a {
        display: block;
        color: #fff;
    }

    .icon {
        display: block;
        > i {
            font-size: 1.5rem;
        }
    }
}

@keyframes spinDown {
    to {
        transform: translate(0, 4px);
        transform: translate3d(0, 4px, 0);
        opacity: 0;
    }
}

.tagline {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
    display: none;
    @media(min-width: 768px){
        bottom: 140px;
        display: block;
    }
    &-logo {
        display: none;
        @media(min-width: 992px){
            display: block;
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translate(-50%,0);
            z-index: 2;
        }
    }
    &-wrapper {
        position: relative;
        display: block;
        text-align: center;
        width: 100%;
        height: auto;
        max-width: 640px;
        margin: auto;
        .title {
            font-size: 1.25rem;
            font-weight: 300;
            letter-spacing: 2px;
            @media(min-width: 768px){
                font-size: 2rem;
            }
            @media(min-width: 992px){
                font-size: 3.5rem;
            }
        }
        .title, .desc {
            color: #fff;
            text-shadow: 0 0 5px $dark_gray;
        }
    }
    .underline-fill {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        font-weight: normal;
        position: relative;
        letter-spacing: 2px;
        padding: 10px 22px;
        margin: auto;
        width: 200px;
        height: auto;
        transition: all .5s;
        text-align: center;
        text-shadow: 1px 2px 3px #2f2f2f;
        text-transform: uppercase;
        &:after, &:before {
            transition: all .5s;
        }
        &:after {
            content: '.';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            height: 5px;
            color: transparent;
            background: #fff;
            margin: 0;
            opacity: 0;
            text-align: left;
            text-shadow: none;
        }
        &:hover {
            z-index: 1;
            @media(min-width: 992px){
                .box-wrapper {
                    bottom: 40%;
                    transition: all .5s;
                    transition-delay: .5s;
                }
                .box-inner {
                    background-color: #fff;
                    transition: all .5s;
                    transition-delay: .5s;
                    .title {
                        color: $gray;
                    }
                    span {
                        color: $gray;
                    }
                }
            }
            &:after {
                z-index: -10;
                animation: fills .75s forwards;
                opacity: 1;
            }
        }
    }
    @keyframes fills {
        0% {
            width: 0%;
            height: 5px;
        }
        50% {
            width: 100%;
            height: 5px;
        }
        100% {
            width: 100%;
            height: 100%;
            background: transparentize($main_color_dark, .5);
        }
    }
}

.page-leisure {
    @media(max-width: 767px){
        [class*=box-items-] {
            position: relative;
            width: 100%;
            height: 0
        }
        [class*=box-items-] .box-ratio-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }
        .box-items-photo {
            padding-top: 75%
        }
    }
    @media(min-width: 768px){
        .box-items-photo {
            width: 100%;
            height: 100%;
        }
        .h-md-50 {
            height: 50%
        }
    }
}

.page-contact {
    .col-md-6 {
        @media(min-width: 768px){
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .contact-form {
        .block {
            padding: 0 1.5rem;
            text-align: center;
            position: relative;
            min-width: 80px;
            display: block;
        }
        .block+.block:before {
            @media(min-width: 768px) {
                content: '';
                top:0;
                left: 0;
                position: absolute;
                display: block;
                width: 1px;
                height: 95%;
                border: .5px dotted #c1c1c1;            
            }
        }
    }
    .btn-send {
        text-align: center;
        padding: 5px 25px;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        border: unset;
        width: 100%;
        background-color: $main_color;
        font-size: 1.286rem;
        @media(min-width: 540px){
            width: unset;
        }
        &:hover, &:active {
            filter: brightness(1.1);
        }
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }
    textarea {
        height: 240px;
    }
    .office-address {
        text-align: left;
        padding-top: 3rem;
        @media(min-width: 768px){
            padding-top: 0;
        }
        h3 {
            font-size: 1.5rem;
            font-weight: normal;
            color: $gray;
        }
        p {
            font-weight: 300;
            color: $gray;
        }
    }
    .button-contact {
        border-bottom: .5px dotted #c1c1c1;
        padding-bottom: 15px;
        text-align: left;
        .btn-contacts {
            background-color: $main_color;
            border-radius: 5px;
            color: #fff;
            display: block;
            font-size: .875rem;
            padding: 15px 30px;
            margin-bottom: 10px;
            width: 100%;
            @media(min-width: 992px) {
                font-size: 1rem;
                &:hover, &:active {
                    box-shadow: 0 0px 5px #5a5a5a;
                    transition: all .3s ease-out;
                }
            }
        }
    }
    .icon-contact {
        padding-right: 5px;
        font-size: 15px;
        @media(min-width: 992px){
            font-size: 20px;
        }
    }
    .btn-manage {
        text-align: left;
        margin-top: 25px;
        margin-bottom: 15px;
        padding: 15px 30px;
        background-color: $gray;
        border-radius: 5px;
        color: #fff;
        width: 100%;
        display: block;
        font-size: 14px;
        @media(min-width: 992px) {
            font-size: 15px;
            &:hover, &:active {
                box-shadow: 0 0px 5px #5a5a5a;
                transition: all .3s ease-out;
            }
        }
        &.buttons {
            @media(min-width: 768px){
                &:before {
                    background: $dark_gray;
                }
                &:hover {
                    background: darken($gray, 2%);
                }
                &:active,
                &:focus {
                    background: darken($gray, 5%);
                    outline: none;
                }
            }
        }
    }
    .buttons {
        min-width: 15rem;
        @media(min-width: 768px){
            display: inline-block;
            position: relative;
            padding: 15px 30px;
            border: none;
            color: #fff;
            transition: .2s;
            &:before,
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                padding-top: 4px;
                padding-bottom: 10px;
                width: 3rem;
                content: "\00a0";
                font-family: 'FontAwesome', sans-serif;
                text-align: center;
                transition: .2s;
                transform-origin: 50% 60%;
                border-radius: 0 5px 5px 0;
            }
            &:before {
                background: $main_color_dark;
            }
            &:hover {
                background: darken($main_color, 2%);
            }
            &:active,
            &:focus {
                background: darken($main_color, 5%);
                outline: none;
            }
        }
    }
    .arrows-side {
        @media(min-width: 768px) {
            &:hover {
                background: darken($main_color_dark, 2%);
            }
            &:active,
            &:focus {
                background: darken($main_color_dark, 5%);
            }
            &:after {
                content: "\f105";
                font-family: Font Awesome\ 5 Pro;
                font-size: 30px;
            }
            &:hover:after {
                animation: bounceright .3s alternate ease infinite;
            }
        }
    }
    @keyframes bounceright {
        from { transform: translateX(0); }
        to   { transform: translateX(3px); }
    }
    @media(min-width: 768px) {
        .pdr {padding-right: 5px;padding-left: 15px;}
        .pdx {padding-right: 5px; padding-left: 5px;}
        .pdl {padding-left: 5px;padding-right: 15px;}
    }
}

.page-gallery {
    .intro {
        @media(min-width: 768px){
            padding-top: 63px;
        }
    }
    .button {
        display: inline-block;
        padding: 5px 15px;
        font-size: 16px;
        cursor: pointer;
        color: $dark_gray;
        border-radius: 6px 6px 0px 0px;
        transition: 350ms;
        @media(min-width: 992px){
            color: $dark_gray;
            background-color: #fff;
        }
        &:hover {
            background-color: $light_gray;
            color: #fff;
            transition: 350ms;
        }
        &:active, &.is-checked {
            background-color: $main_color;
        }
        &.is-checked {
            color: #fff;
            border: 1px solid transparent;
            margin-bottom: -1px;
            border-color: $main_color $main_color $main_color_light;
        }
        &-group {
            margin-bottom: 25px;
            border-bottom: 1px solid #fff;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            .button {
                margin-left: 0;
                margin-right: 5px;
                padding-left: 30px;
                padding-right: 30px;
            }
            ul {
                margin-bottom: 0rem;
                padding: 0px;
                display: grid;
                text-align: center;
                @media(min-width: 992px) {
                    justify-content: center;
                    display: flex;
                }
            }
        }
    }
    .grid {
        display: block;
        margin-left: -3px;
        margin-right: -3px;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .element-item {
        position: relative;
        width: 50%;
        height: auto;
        padding: 0px 3px;
        margin-bottom: 6px;
        overflow: hidden;
        @media(min-width: 768px){
            width: 20%;
        }
        &:focus {
            outline-style: none;
        }
    }
}

.page-destination, 
.page-getting-there,
.page-location {
    .box-destination {
        position: relative;
        width: 100%;
        text-align: left;
        .header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 0;
            border-bottom: 2px solid $main_color;
        }
        .title {
            background-color: $main_color;
            color: #fff;
            display: inline-block;
            font-size: 1rem;
            font-weight: normal;
            padding: 5px 15px;
            margin-bottom: 0;
        }
        .d-flex+.d-flex {
            border-top: 1px dotted #000;
        }
        span {
            font-size: 1rem;
            font-weight: 400;
            padding-left: 1rem;
        }
    }
    #google_map_carousel {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 56.25%;
        @media(min-width: 1140px) {
            height: 100vh;
            padding: 0;
        }
        .swiper-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .swiper-slide {
                height: 100%;
                overflow: hidden;
                // padding-bottom: 42px;
                padding-top: 0;
                @media(min-width: 768px){
                    padding-top: 63px;
                    // padding-bottom: 62px;
                }
            }
        }
    }

    .carousel-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        // background-color: $main_color;
        text-align: center;
        white-space: nowrap;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            background-image: linear-gradient(to top, $gray, $light_gray);
            color: #fff;
            padding: 9px 12px;
            line-height: 44px;
            font-weight: normal;
            font-size: .875rem;
            text-transform: uppercase;
            transition: all .2s;
            @media(min-width: 768px){
                padding: 15px 35px;
            }
            &:hover, &:active {
                background-image: linear-gradient(to top, $main_color, $main_color_light);
                box-shadow: 0 0 10px transparentize(#000, .5);
                color: #fff;
                transition: all .2s;
            }
            &.active {
                background-image: linear-gradient(to top, $main_color, $main_color_light);
                color: #fff;
            }
        }
        .dropdown-menu {
            background-color: #fff;
        }
        .btn-about {
            background-color: #fff;
            border-radius: 0;
            line-height: 1;
            color: #4a4440;
            cursor: pointer;
            &:hover {
                color: $main_color;
            }
        }
    }

    #accordionGettingThere {
        position: relative;
        .btn-getting {
            background-color: transparent;
            color: $main_color;
            padding: 1rem 0;
            width: 100%;
            height: auto;
            text-align: left;
            border-top: 1px solid #e0e0e0;
            &:last-of-type {
                border-bottom: 1px solid #e0e0e0;
            }
            > span {
                display: block;
                width: 100%;
                height: auto;
                position: relative;
                &::after {
                    content: '\f105';
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    font-family: 'Font Awesome 5 Pro';
                    font-weight: 900;
                }
            }
            &.collapsed {
                color: $gray;
            }
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
        .title {
            border-bottom: 2px solid $gray;
            display: inline-block;
            font-size: 1.75rem;
            font-weight: normal;
            padding-bottom: .25rem;
        }
    }

    .details {
        font-size: 1rem;
        font-weight: 400;
    }
}

.page-offers {
    .caption {
        display: none;
        @media(min-width: 1140px){
            display: block;
            position: absolute;
            bottom: 0px;
            left: 50%;
            padding: 15px;
            transform: translate(-50%, 0%);
            z-index: 2;
            border-top: 15px solid #fff;
            border-left: 15px solid #fff;
            border-right: 15px solid #fff;
            border-bottom: 15px solid #fff;
            opacity: .95;
            transition: 350ms;
        }
        .list-offers {
            padding-top: 45px;
            color: $dark_gray;
            i {color: $main_color;}
            li {
                font-size: .75rem;
            }
        }
        &-content {
            display: none;
            @media(min-width: 1440px){
                display: block;
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform: translate(-50%, 50%);
                z-index: 2;
                transition: 350ms;
                text-shadow: 0 0 8em $dark_gray;
                &::before {
                    content: '';
                    background-image: url('../elements/bg-blur.png');
                    width: 600px;
                    height: 262px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    transform: translate3d(-50%,-50%,0);
                    z-index: -1;
                }
            }
            .font-yellowtail {
                font-size: 4.375rem;
                text-shadow: 0 2px 2px $gray;
                color: #fff;
                > small {
                    font-size: 2.125rem;
                }
            }
        }
        .font-yellowtail {
            font-size: 3rem;
            color: $main_color;
            text-align: left;
        }
        .font-bebas {
            font-size: 2.825rem;
            font-weight: bold;
            color: #000;
            text-align: left;
        }
    }
}

.carousel-basic {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 1140px) {
        height: 100%;
        padding: 0;
        // .page-roomtype & {
        //     height: 50vh;
        // }
    }
    .swiper-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .swiper-slide {
            height: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
        }
    }
    .carousel-navigation {
        position: absolute;
        right: 15px;
        bottom: 15px;
        color: #fff;
        z-index: 1;
        font-size: 0;
        line-height: 1;
        vertical-align: middle;
        &-prev {
            display: inline-block;
            line-height: 1;
            cursor: pointer;
            &:hover,
            &:active {
                color: $gray;
            }
        }
        &-next {
            @extend .carousel-navigation-prev;
        }
        .icon-tab {
            background-color: rgba(255, 255, 255, 0.3);
            border: 1px solid #fff;
            padding: 10px 15px;
            font-size: .875rem;
            transition: 350ms;
            &:hover, &:active {
                transition: 350ms;
                background-color: $main_color;
                color: #fff;
            }
        }
    }
}

.video-box {
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
    z-index: 2;
    background-color: transparentize($main_color, .2);
    border-radius: .25rem;
    padding: 1rem;
    text-align: center;
    .video-title {
        color: #fff;
        font-size: 1.125rem;
    }
    .video-subtitle {
        color: #fff;
        font-size: .875rem;
        margin-bottom: .25rem;
    }
    a {
        color: #fff;
        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

.swiper-video,
.swiper-image {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    @media(min-width: 1140px) {
        height: 100vh;
        padding: 0;
    }
    .swiper-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .swiper-slide {
            height: 100%;
            overflow: hidden;
        }
    }
    &.hide {
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: 350ms;
    }
    .skip-button {
        position: absolute;
        right: 15px;
        bottom: 45px;
        color: #fff;
        z-index: 1;
        font-size: 2rem;
        line-height: 1;
        vertical-align: middle;
        display: none;
        @media(min-width: 768px){
            display: block;
        }
        &-prev {
            display: inline-block;
            line-height: 1;
            cursor: pointer;
            &:hover,
            &:active {
                color: $gray;
            }
        }
        &-next {
            @extend .skip-button-prev;
        }
        .icon-tab {
            background-color: #323131;
            padding: 10px 15px;
            font-size: 14px;
            transition: 350ms;
            &:hover, &:active {
                transition: 350ms;
                background-color: $light_gray;
            }
        }
    }
    .swiper-button {
        &-prev, &-next {
            background-image: none;
            display: none;
            @media(min-width: 768px){
                display: block;
            }
            .icon-tab {
                background-color: transparent;
                padding: 10px 15px;
                color: #fff;
                font-size: 30px;
                transition: 350ms;
                &:hover, &:active {
                    transition: 350ms;
                    color: $main_color;
                    background-color: transparent;
                }
            }
        }
        &-prev {
            left: 0;
        }
        &-next {
            right: 33px;
        }
    }
    .swiper-pagination {
        display: block;
        @media(min-width: 768px){
            display: none;
        }
        &-bullets {
            transition: 350ms;
            @media(min-width: 1140px){
                bottom: 30px;
                transition: 350ms;
            }
        }
        &-bullet {
            margin: 0 5px !important;
            border: 1px solid #fff;
            opacity: .5;
            &-active {
                background: $main_color;
                opacity: 1;
            }
        }
    }
}
.multiple-slider-container {
    position: relative;
    overflow: hidden;
}
// Video button
.video-container {
    .bg-video {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: 350ms;
        z-index: 0;
    }
    &.paused {
        .bg-video {
            visibility: visible;
            opacity: 1;
            transition: 350ms;
        }
    }
}
.play-button {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 4;
    width: 70px;
    height: 70px;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    text-align: center;
    transition: 350ms;
    // background-color: rgba(0,0,0,0.7);
    cursor: pointer;
    &:hover,
    &:active {
        transition: 0ms;
        // background-color: rgba(255, 255, 255, 0.7);
        .button::before {
            font-weight: 600;
        }
    }
    &:focus {
        outline: none;
    }
    .button {
        width: 70px;
        height: 70px;
        line-height: 70px;
        &::before {
            content: '';
            font-family: Font Awesome\ 5 Pro;
            font-weight: 100;
            color: #fff;
        }
        &-play::before {
            content: '\f04c';
        }
        &-play.played::before {
            content: '\f04b';
        }
        &-mute::before {
            content: '\f2e2';
        }
        &-mute.muted::before {
            content: '\f028';
        }
    }
}
.paused .play-button {
    display: block;
    visibility: visible;
    opacity: 1;
}
.button-play-position {
    position: absolute;
    display: none;
    z-index: 9;
    transition: 350ms;
    @media(min-width: 320px){
        display: block;
        top: 15px;
        right: 15px;
    }
    @media(min-width: 1200px){
        top: 100px;
        right: 25px;
    }
    &.show {
        right: -70px;
        transition: 350ms;
        @media(min-width: 768px){
            right: -55px;
        }
    }
    .button {
        font-size: 17px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        width: 37px;
        height: 37px;
        vertical-align: middle;
        line-height: 37px;
        text-align: center;
        transition: 350ms;
        cursor: pointer;
        background-color: rgba(0,0,0,0.7);
        &:hover,
        &:active {
            transition: 0ms;
            background-color: #fff;
            &::before {
                color: #000;
            }
        }
        &::before {
            content: '';
            font-family: 'Font Awesome 5 Pro';
            font-weight: 100;
            color: #fff;
        }
        &-play::before {
            content: '\f04c';
        }
        &-play.played::before {
            content: '\f04b';
        }
        &-mute::before {
            content: '\f2e2';
        }
        &-mute.muted::before {
            content: '\f028';
        }
        &-options::before {
            content: '\f030';
        }
        &-options.image::before {
            content: '\f03d';
        }
    }
    .hide {
        opacity: 0;
        visibility: hidden;
        transition: 350ms;
    }
}

.box-rooms {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    @media(min-width: 768px){
        padding-top: 150%;
    }
    > img {
        box-shadow: 0 0px 10px $gray;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .pos {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.3);
        &:hover {
            background-color: rgba(0,0,0,0.01);
            transition:  all .5s;
            .underline-fill:after {
                z-index: -10;
                animation: fill 1s forwards;
                opacity: 1;
            }
        }
        &.current {
            background-color: transparentize($main_color, .5);
        }
    }
    .header {
        color: #fff;
        font-size: .875rem;
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
        padding: 0px 15px;
    }
    .list-features {
        border-top: 1px solid #fff;
        display: flex;
        justify-content: center;
        list-style: none;
        margin:  0 1rem 1rem 1rem;
        padding: .5rem 0;
        color: #fff;
        font-size: .875rem;
        .block {
            padding: 0 12px;
            text-align: center;
            position: relative;
            @media(min-width: 992px){
                padding: 0 5px;
            }
            @media(min-width: 1200px){
                padding: 0 10px;
            }
        }
        li.block+.block:before{
            content: '';
            top:0;
            left: 0;
            position: absolute;
            display: block;
            width: 1px;
            height: 100%;
            background-color: #fff;
        } 
        .guest {
            width: auto;
            height: 15px;
            @media(min-width: 768px){
                height: 20px;
            }
            @media(min-width: 992px){
                height: 17px;
            }
        }
        .beds {
            width: auto;
            height: 15px;
            @media(min-width: 768px){
                height: 15px;
            }
            @media(min-width: 992px){
                height: 17px;
            }
        }
    }
}

.btn-detail {
    color: #fff;
    background-color: $main_color;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 300;
    &:hover, &:active {
        color: #fff;
        background-color: $main_color_dark;
    }
}

.swiper-offers {
    width: 100%;
    height: 100%;

    .title-deal {
        font-size: 2.5rem;
        letter-spacing: 3px;
        @media(min-width: 768px){
            font-weight: normal;
            font-size: 3.5rem;
        }
    }
    
    .subject-deal {
        font-size: 1.125rem;
        font-weight: normal;
    }

    .swiper-slide {

        .fullfill {
            display: block;
            width: 100%;
            height: 100%;
            transition: all .5s;
            &::after {
                content: '.';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 0%;
                height: 5px;
                color: transparent;
                background: #fff;
                opacity: 0;
                transition: all .5s;
            }
            &:hover {
                z-index: 1;
                &::after {
                    z-index: 0;
                    animation: fullfill 1s forwards;
                    opacity: 1;
                }
            }
        }

    }

    .swiper-pagination {
        &-bullet {
            background-color: #000;
            border: 1px solid #fff;
            @media(min-width: 768px){
                display: none;
            }
            &-active {
                background-color: $main_color;
                border: 1px solid darken($main_color, .2);
                box-shadow: 0 0 5px $main_color_light;
            }
        }
    }

    .pos {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        text-align: center;
        .subject {
            position: relative;
            color: #fff;
            background-color: transparent;
            border-radius: .25rem;
            font-size: 1.25rem;
            font-weight: 400;
            padding: 10px 20px;
            margin-bottom: 0;
            text-shadow: 0 0 3px #000;
            text-transform: uppercase;
            z-index: 1;
            &:hover {
                span {
                    opacity: 1;
                    visibility: visible;
                    bottom: 100%;
                    transition: opacity 250ms, bottom 250ms;
                }
            }
            > span {
                display: none;
                position: absolute;
                bottom: 80%;
                left: -20%;
                z-index: 1;
                background-color: rgba(0, 0, 0, 1);
                border-radius: .25rem;
                padding: 5px 15px;
                width: 250px;
                height: auto;
                overflow: visible;
                margin-bottom: .75rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 250ms, top 250ms;
                font-size: .875rem;
                @media(min-width: 992px){
                    display: block;
                }
                &::before {
                    content: '';
                    background-color: rgba(0, 0, 0, 1);
                    width: 0.75rem;
                    height: 0.75rem;
                    position: absolute;
                    top: 100%;
                    left: 75px;
                    margin-top: -0.425rem;
                    transform: rotate(45deg);
                }
                ul {
                    font-family: 'Maven Pro';
                    font-weight: normal;
                    font-size: 0.6875rem;
                    text-align: left;
                    text-transform: capitalize;
                    > li {
                        margin-bottom: .25rem;
                    }
                }
            }
        }
    }

    .nav-offers {
        position: absolute;
        z-index: 3;
        bottom: 1.75rem;
        left: 0;
        width: 100%;
        height: auto;
        @media(min-width: 992px){
            bottom: 2rem;
        }
        ul {
            display: flex;
            justify-content: center;
            >li {
                text-align: center;
                +li {
                    margin-left: 40px;
                }
            }
        }
        .underline-fill {
            margin: 0;
            text-align: center;
            padding: 10px 0px;
            color: #fff;
            text-shadow: 0 0 3px #000;
            &:hover, &:active {
                border-bottom: 1px solid #fff;
            }
            &.redfill:hover {
                &::after {
                    animation: Rfill 1s forwards;
                }
            }
        }
    }

    @keyframes fullfill {
        0% {
            width: 0%;
            height: 5px;
        }
        50% {
            width: 100%;
            height: 5px;
        }
        100% {
            width: 100%;
            height: 100%;
            background: transparentize($second_color_dark, .5);
        }
    }
    @keyframes Rfill {
        0% {
            width: 0%;
            height: 1px;
        }
        50% {
            width: 100%;
            height: 1px;
        }
        100% {
            width: 100%;
            height: 100%;
            background: transparentize($main_color_dark, .5);
        }
    }
}

.offers-card {
    position: relative;
    box-shadow: 0 1px 5px rgba($gray, .3);
    .main {
        background-color: #fff;
        padding: 15px 25px;
    }
    .title {
        font-weight: 500;
        font-size: 1.125rem;
        color: #000;
        text-transform: uppercase;
    }
    .desc {
        color: $main_color;
        font-size: .875rem;
        &:last-of-type {
            margin-bottom: 3rem;
        }
    }
    .btn-book {
        background-image: linear-gradient(to top, $main_color 30%, $main_color_light 100%);
        border-radius: .25rem;
        color: #fff;
        font-size: .875rem;
        padding: 5px 25px 5px 25px; 
        position: relative;
        text-transform: uppercase;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &::before {
            content: '\f054';
            font-family: Font Awesome\ 5 Pro;
            font-weight: 900;
            position: absolute;
            top: 5px;
            right: 25px;
            z-index: 2;
            color: #fff;
            opacity: 0;
            transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:hover, &:active {
            background-image: linear-gradient(to top, $main_color 30%, $main_color_light 100%);
            padding: 5px 35px 5px 25px;
            transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            &::before {
                right: 22px;
                opacity: 1;
                transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }
}

.site-main {
    // padding-top: 75px;
    // @media(min-width: 768px){
    //     padding-top: 0;
    // }
    .swiper-main,
    .swiper-location,
    .swiper-multiple {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 56.25%;
        @media(min-width: 1140px) {
            height: 100vh;
            padding: 0;
        }
        .swiper-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .swiper-slide {
                height: 100%;
                overflow: hidden;
                .page-location & {
                    padding-top: 25px;
                }
                &::before {
                    content: '';
                    background: linear-gradient(to top, rgba(#000, 0.5), transparent);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 200px;
                    z-index: 2;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .swiper-button {
            &-prev, &-next {
                background-image: none;
                display: none;
                @media(min-width: 768px){
                    display: block;
                }
                .icon-tab {
                    background-color: transparent;
                    padding: 10px 15px;
                    color: #fff;
                    font-size: 30px;
                    transition: 350ms;
                    &:hover, &:active {
                        transition: 350ms;
                        color: $main_color;
                        background-color: transparent;
                    }
                }
            }
            &-prev {
                left: 0;
            }
            &-next {
                right: 30px;
            }
        }
        .swiper-pagination {
            display: none;
            @media(min-width: 768px){
                display: block;
            }
            &-bullets {
                transition: 350ms;
                @media(min-width: 1140px){
                    bottom: 30px;
                    transition: 350ms;
                }
            }
            &-bullet {
                margin: 0 8px !important;
                border: 1px solid #fff;
                opacity: .5;
                &-active {
                    background: $main_color;
                    opacity: 1;
                }
            }
        }
    }
}

// Site Footer
.site-footer {
    position: relative;
    background-color: #e2dac4;
    border-top: 1px solid #fff;
    .result {
        display: none;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        @media(min-width: 768px){
            margin-bottom: 15px;
        }
    }
    .success .result {
        color: green;
        background-color: #a9d6a9;
        padding: 0 10px;
    }
    .failed .result {
        color: red;
        background-color: #deabab;
        padding: 0 10px;
    }
    .title {
        display: block;
        font-size: 1.25rem;
        font-weight: 500;
    }
    .word {
        font-size: 0.875rem;
        font-weight: 400;
    }
    .block {
        padding: 0 1rem;
        text-align: center;
        position: relative;
        min-width: 80px;
        display: block;
    }
    .block+.block:before {
        @media(min-width: 1200px) {
            content: '';
            top:0;
            left: 0;
            position: absolute;
            display: block;
            width: 1px;
            height: 100%;
            background-color: $light_gray;
        }
    }
    .icon-contact {
        font-size: 2rem;
        color: $gray;
        &.rotate {
            transform: scale(-1,1);
        }
        @media(min-width: 768px){
            font-size: 1.75rem;
        }
    }
    .content {
        display: inline-block;
        text-align: left;
        padding-left: 15px;
        .title {
            color: $gray;
            display: block;
            font-weight: 300;
            font-size: 1rem;
            font-style: normal;
            line-height: 1.2;
        }
        .detail {
            display: block;
            a {
                color: $gray;
                font-size: .875rem;
                &:hover, &:active {
                    color: $main_color;
                }
            }
        }
    }
    .social {
        list-style: none;
        padding-left: 0px;
        .bubble {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
            @media(min-width: 992px){
                padding-left: 5px;
                padding-right: 5px;
            }
            a {
                display: block;
                color: #fff;
                background-color: $gray;
                text-align: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                transition: 200ms;
            }
        }
        .tw:hover, .fb:active {
            background-color: #2B7BB9;
        }
        .fb:hover, .fb:active {
            background-color: #3B5998;
        }
        .yt:hover, .yt:active {
            background-color: #FF0000;
        }
        .li:hover, .li:active {
            background-color: #00C300;
        }
        .ig:hover, .ig:active {
            background-color: #C13584;
        }
        .ta:hover, .ta:active {
            background-color: #00AF87;
        }
        .icon {
            font-size: 1.25rem;
            line-height: 2;
        }
    }
    .form-button {
        border-radius: 1.5rem;
        border: 0;
        color: #fff;
        padding: .4rem .75rem;
        z-index: 0;
    }
    .form-control {
        border-radius: 1.5rem;
        display: inline;
        padding: 0.5rem 1.75rem;
    }
    .form-inline {
        opacity: 1;
        transition: 350ms;
        .form-wrap {
            max-width: 100%;
            margin: 0 auto;
            position: relative;
        }
        .input-text {
            background-color: #fff;
            padding-right: calc(100px + 0.75rem);
            height: 34px;
            border-radius: 17px;
            font-size: 0.9rem;
            @media(min-width: 768px){
                padding-right: calc(200px + 0.75rem);
            }
        }
        .input-submit {
            position: absolute;
            top: 1px;
            right: 1px;
            width: 110px;
            height: 32px;
            border-radius: 16px;
            background-color: $main_color;
            color: #fff;
            line-height: 0;
            transition: 350ms;
            cursor: pointer;
            &:hover ,&:active {
                transition: 350ms;
                color: #fff;
                background-color: $dark_gray;
            }
        } 
    }
    .filters {
        filter: brightness(0);
    }
}
.site-copyright {
    background-color: #c9c0a8;
    text-align: center;
    padding-top: .625rem;
    @media(min-width: 768px){
        padding-bottom: .625rem;
    }       
    a {
        color: $gray;
        &:hover, &:active {
            color: $dark_gray;
        }
    }
    .tl-m {
        text-align: center;
        color: $gray;
        font-size: .625rem;
        margin-bottom: 0;
        @media(min-width: 768px) {
            text-align: left;
        }
    }
    .tr-m {
        text-align: center;
        color: $gray;
        font-size: .625rem;
        @media(min-width: 768px) {
            text-align: right;
        }
    }
}

.tl-side-date {
    display: none;
    @media(min-width: 768px){
        display: block;
    }
    &-pos {
        position: absolute;
        right: 2rem;
        top: 6rem;
        z-index: 5;
        @media(min-width: 992px){
            top: 8rem;
        }
    }
    &-data {
        text-align: right;
        span {
            color: #fff;
            display: block;
            font-weight: 300;
            text-shadow: 0 0 5px #777777;
            &.day-string {
                font-size: 1.25rem;
            }
        }
    }
}

.lazy-fb-video, 
.lazy-fb-page {
    position: relative;
}

// IG Column
.ig-post {
    &-title {
        font-size: 1.25rem;
        font-weight: normal;
    }
    &-album {
        display: flex;
        flex-flow: row wrap;
        margin: -3px;
        list-style: none;
        margin: 0;
        padding-left: 0;
        position: relative;
        z-index: 5;
    }
    &-item {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        padding: 3px;
        a, img {
            display: block;
        }
    }
}

.subscribe-form {
    position: relative;
    .title {
        font-size: 1rem;
        text-transform: uppercase;
        color: #fff;
    }
    p {
        font-size: .875rem;
    }
    .result {
        display: none;
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        @media(min-width: 768px){
            margin-bottom: 10px;
        }
    }
    .success .result {
        color: green;
        background-color: #a9d6a9;
        padding: 5px 10px;
    }
    .failed .result {
        color: red;
        background-color: #deabab;
        padding: 5px 10px;
    }
}

//
// Mobile Booking
//
#mobile_button_booking {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 1.25rem;
    text-align: center;
    background-color: $main_color;
    color: #fff;
    transition: 350ms;
    transition-property: background-color, transform, box-shadow;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    &:hover,
    &:active {
        background-color: darken($main_color, 5);
        transition: 0ms;
        @media(min-width: 768px){
            background-color: darken($main_color, 5);
        }
    }
    @media (min-width: 576px) {
        left: 15px;
        right: auto;
        bottom: 15px;
        width: 200px;
    }
    @media(min-width: 768px){
        background-color: $main_color;
        display: none;
    }
}

/** go top */
.arrows,
.bounce {
    display: none;
}
@media(max-width: 768px) {
    .arrows {
        display: block;
        position: fixed;
        bottom: 75px;
        right: 3%;
        margin-left: 0px;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        z-index: 9;
        transition: 350ms;
        &:hover,
        &:focus,
        &:active {
            color: #000;
            background: #fff;
            text-decoration: none;
        }
    }
    @keyframes bounce {
        0%,
        100%,
        20%,
        50%,
        80% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
    .bounce {
        display: block;
        animation: bounce 2s infinite;
    }
}