.ui-datepicker {
    background-color: #fff;
    width: auto;
    width: 240px;
    max-width: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    color: #6c757d;
    padding: 0.5rem;
    display: none;
    .ui-state-disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:active,&:hover {
            background: inherit;
        }
    }
    &-week-end {
        color: $second_color;
    }
    &-header {
        position: relative;
        margin: -0.5rem -0.5rem 0rem;
        padding-left: 40px;
        padding-right: 40px;
    }
    &-title {
        height: 40px;
        line-height: 40px;
        font-weight: normal;
        text-align: center;
    }
    &-next,&-prev {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        &:before {
            font-family: 'Font Awesome 5 Pro';
            font-weight: 300;
            font-size: 1.25rem;
        }
        &:active,&:hover {
            background-color: #f8f9fa;
        }
        &.ui-state-disabled {
            background-color: none;
        }
        span {
            display: none;
        }
    }
    &-prev {
        &:before {
            content: '\f104';
        }
    }
    &-next {
        left: auto;
        right: 0;
        &:before {
            content: '\f105';
        }
    }
    &-calendar {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        background-color: #f7f7f7;
        td,th {
            padding: 3px;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
        }
        th {
            background-color: transparent;
        }
        td {
            width: 14.28%;
            padding: 0;
        }
        .ui-state-default {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 2;
            font-weight: normal;
            transition: 350ms;
            font-size: 16px;
            color: #6c757d;
        }
        .ui-state-highlight {
            background: #f8f9fa;
        }
        .ui-state-active {
            background-color: $second_color;
            color: #fff;
            transition-duration: 0ms;
        }
        .ui-state-hover {
            background-color: transparentize($second_color, .7);
            color: $second_color;
            transition-duration: 0ms;
        }
    }
}