.member-panel {
    position: fixed;
    z-index: 30;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    color: $gray;
    filter: drop-shadow( 0 0 1rem transparent );
    transform: translate(0, calc(100% - 3rem));
    transform: translate3d(0, calc(100% - 3rem), 0);
    transition: 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    
    @media (min-width: 576px) {
        right: 1.5rem;
        width: auto;
    }

    &-inner {
        position: relative;
        z-index: 1;
    }

    &-content {
        background-color: #fff;
        padding: 1rem 20px;
    }

    &-form {
        background-color: $gray;
        margin: 0 -20px -1rem;
        padding: 1rem 20px;
    }

    .guest-ui,
    .member-ui {
        display: none;
    }

    &.is-guest .guest-ui {
        display: block;
    }

    &.is-member .member-ui {
        display: block;
    }
}

.guest-ui {
    .member-panel-title {
        position: relative;
        overflow: hidden;

        .button {
            display: block;
            width: 100%;
            padding: 1rem 1.5rem;
            line-height: 1;
            appearance: none;
            border: 0;
            outline: 0;
            font-size: 1rem;
            font-weight: 300;
            background-color: $gray;
            // background-color: $main_color_dark;
            color: #fff;
            cursor: pointer;
            position: relative;
            @media(min-width: 576px){
                font-size: 1.125rem;
            }
            
            &::before {
                content: none;
                position: absolute;
                z-index: 0;
                left: 0;
                bottom: 0;
                width: 120%;
                height: 100%;
                background-image: linear-gradient(to top, $gray, lighten($gray, 15));
                // background-color: $main_color_dark;
                transform-origin: left bottom;
                transform: rotate(-5deg);
                transition: transform 350ms;
                animation: MoveUpDown 1s ease infinite;
            }
        }

        @keyframes MoveUpDown {
            0%, 100% {
                bottom: 0;
            }
            50% {
                bottom: 3px;
            }
        }
    }

    .member-panel-form {
        .btn-signup {
            color: #fff;
            background-color: $main_color_dark;
            background-image: linear-gradient(to bottom, $main_color_dark, lighten($main_color_dark, 15));
        }

        .btn-cancel {
            color: #fff;
        }

        label {
            color: #fff;
        }
    }

    @media (min-width: 576px) {
        width: 320px;

        .member-panel-title {
            padding-top: 32px;
            padding-left: 4px;
            margin-top: -32px;
            margin-left: -4px;

            .button {
                &::before {
                    content: '';
                }

                .text {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}

.member-ui {
    .member-panel-title {
        display: block;
        overflow: hidden;
        
        .button {
            display: block;
            font-size: 1.25rem;
            line-height: 1;
            padding: .5rem 1.5rem;
            background-color: $gray;
            // background-color: $main_color;
            color: #fff;
            height: 3rem;
            position: relative;

            &::before {
                content: none;
                position: absolute;
                z-index: 0;
                left: 0;
                bottom: 0;
                width: 120%;
                height: 100%;
                background-image: linear-gradient(to top, $gray, lighten($gray, 15));
                // background-color: $main_color;
                transform-origin: left bottom;
                transform: rotate(-5deg);
                transition: transform 350ms;
            }
            
            .text {
                small {
                    display: block;
                    font-size: .75rem;
                }
            }
            
            &:hover,
            &:active {
                background-color: $gray;
                // background-color: darken( $main_color, 10 );
                &::before {
                    background-color: $gray;
                    // background-color: darken( $main_color, 10 );
                }
            }
        }
    }
    @media (min-width: 576px) {
        width: 240px;

        .member-panel-title {
            padding-top: 32px;
            padding-left: 4px;
            margin-top: -32px;
            margin-left: -4px;

            .button {
                .text {
                    position: relative;
                    z-index: 1;
                }

                &::before {
                    content: '';
                }
            }
        }
    }
}

body.scroll-down {
    .member-panel {
        transform: translate(0, 100%);
        transform: translate3d(0, 100%, 0);
    }

    .guest-ui .member-panel-title .button::before {
        animation: none;
    }

    &:not(.member-panel-show) {
        .guest-ui .button::before,
        .member-ui .button::before {
            transform: rotate(0deg);
        }
    }
}

body.member-panel-show {
    .member-panel {
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        filter: drop-shadow(0 0 1rem rgba(0,0,0,.125));
    }
}