$main_color: #947e35;
$second_color: #8f2506;
$main_color_dark: darken($main_color, 10);
$main_color_light: lighten($main_color, 10);
$second_color_dark: darken($second_color, 10);
$second_color_light: lighten($second_color, 10);
$gray: #373330;
$light_gray: lighten($gray, 10);
$dark_gray: darken($gray, 10);

$fa-font-path:                "../fonts/font-awesome/webfonts" !default;