@font-face{font-family:'Font Awesome 5 Pro';font-style:normal;font-weight:400;font-display:auto;src:url("../webfonts/fa-regular-400.eot");src:url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.woff") format("woff"), url("../webfonts/fa-regular-400.ttf") format("truetype"), url("../webfonts/fa-regular-400.svg#fontawesome") format("svg")}.far{font-family:'Font Awesome 5 Pro';font-weight:400}
/*# sourceMappingURL=regular.css.map */