.pv-cookie-bar {
  --pv--cookie-bar--accent-color: #0b89f0;
  --pv--cookie-bar--text: #333;
  --pv--cookie-bar--bg: #fff;
  --pv--cookie-bar--link-text--text: var(--pv--cookie-bar--text);
  --pv--cookie-bar--link-text--text--hover: var(--pv--cookie-bar--link-text--text);
  --pv--cookie-bar--accept-button--bg: var(--pv--cookie-bar--accent-color);
  --pv--cookie-bar--accept-button--text: #fff;
  --pv--cookie-bar--box-shadow: 0 0 1rem rgba(0,0,0,0.125);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--pv--cookie-bar--bg);
  color: var(--pv--cookie-bar--text);
  font-size: 14px;
  box-shadow: var(--pv--cookie-bar--box-shadow);
  transform: translate3d(0, 0, 0);
  transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.pv-cookie-bar:not(.ready) {
  display: none;
}
.pv-cookie-bar:not(.show) {
  transform: translate3d(0, 100%, 0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.pv-cookie-bar__container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.pv-cookie-bar__text {
  flex: 1 1 70%;
}
.pv-cookie-bar__cta {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pv-cookie-bar a[href] {
  color: var(--pv--cookie-bar--link-text--text);
}
.pv-cookie-bar a[href]:hover,
.pv-cookie-bar a[href]:active {
  color: var(--pv--cookie-bar--link-text--text--hover);
}
@media (max-width: 600px) {
  .pv-cookie-bar__text,
  .pv-cookie-bar__cta {
    flex-basis: 100%;
  }
  .pv-cookie-bar__cta {
    justify-content: flex-start;
    margin-top: 0.5rem;
  }
}
.pv-cookie-bar a[href] {
  text-decoration: underline;
  color: inherit;
}
.pv-cookie-bar .button {
  display: inline-block;
  padding: .325em 1.25em;
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
}
.pv-cookie-bar .button-accept {
  background-color: var(--pv--cookie-bar--accept-button--bg);
  color: var(--pv--cookie-bar--accept-button--text);
}
.pv-cookie-bar .button-accept:hover,
.pv-cookie-bar .button-accept:active {
  opacity: 0.9;
}
.pv-cookie-bar a[href],
.pv-cookie-bar .button-accept {
  transition: .2s ease-out;
}
.pv-cookie-bar a[href]:hover,
.pv-cookie-bar a[href]:active
.pv-cookie-bar .button-accept:hover,
.pv-cookie-bar .button-accept:active {
  transition-duration: 0s;
}